<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/css/movie-ratings.css}">
    <title>Movie Ratings</title>
</head>
<body>

    <div id="header-div">
        <h2>Movie ratings importer</h2>
    </div>

    <div class="normal-div" th:if="${movieTitle != null}">
        <h3 id="movie-title" th:text="${movieTitle}"></h3>
    </div>

    <div class="normal-div" th:if="${omdbMovieRatings != null}">
        <h4 class="no-reviews-text" th:if="${omdbMovieRatings.movieRatings.size()} == 0">There are no ratings for this movie on OMDb!</h4>
        <ul class="list-group" th:if="${omdbMovieRatings.movieRatings.size()} != 0">
            <li class="list-group-item list-header">Rating sources from OMDb:</li>
            <li class="list-group-item" th:each="movieRating : ${omdbMovieRatings.movieRatings}">
                <p class="rating-source-text" th:text="${movieRating.getKey()}"></p>
                <button class="btn score-btn" th:classappend="${movieRating.getValue()} >= 7.5 ? 'btn-success' : (${movieRating.getValue()} >= 3.5 ? 'btn-warning' : 'btn-danger')"
                        type="button" th:text="${movieRating.getValue()}"></button>
            </li>
            <li class="list-group-item">
                <button class="btn score-btn" th:classappend="${omdbMovieRatings.getAverageRating()} >= 7.5 ? 'btn-success' : (${omdbMovieRatings.getAverageRating()} >= 3.5 ? 'btn-warning' : 'btn-danger')"
                        type="button" th:text="'Average rating: ' + ${omdbMovieRatings.getAverageRating()}"></button>
            </li>
        </ul>
    </div>

    <div class="normal-div" th:if="${tmdbMovieRatings != null}">
        <h4 class="no-reviews-text" th:if="${tmdbMovieRatings.movieRatings.size()} == 0">There are no reviews for this movie on TMDB yet!</h4>
        <ul class="list-group" th:if="${tmdbMovieRatings.movieRatings.size()} != 0">
            <li class="list-group-item list-header">The Movie Database users' reviews:</li>
            <li class="list-group-item" th:each="movieRating : ${tmdbMovieRatings.movieRatings}">
                <p class="rating-source-text" th:text="${movieRating.getKey()}"></p>
                <button class="btn score-btn" th:classappend="${movieRating.getValue()} >= 7.5 ? 'btn-success' : (${movieRating.getValue()} >= 3.5 ? 'btn-warning' : 'btn-danger')"
                        type="button" th:text="${movieRating.getValue()}"></button>
            </li>
            <li class="list-group-item">
                <button class="btn score-btn" th:classappend="${tmdbMovieRatings.getAverageRating()} >= 7.5 ? 'btn-success' : (${tmdbMovieRatings.getAverageRating()} >= 3.5 ? 'btn-warning' : 'btn-danger')"
                        type="button" th:text="'Average rating: ' + ${tmdbMovieRatings.getAverageRating()}"></button>
            </li>
        </ul>
    </div>

    <div class="normal-div" th:if="${averageMovieRating != -1}">
        <ul class="list-group">
            <li class="list-group-item" id="avg-score-overall-li">
                <button class="btn score-btn" id="avg-score-overall-btn" th:classappend="${averageMovieRating} >= 7.5 ? 'btn-success' : (${averageMovieRating} >= 3.5 ? 'btn-warning' : 'btn-danger')"
                        type="button" th:text="'Average rating from all sources: ' + ${averageMovieRating}"></button>
            </li>
        </ul>
    </div>

    <div class="normal-div" th:if="${omdbMovieRatingsError != null}">
        <h4 class="error-text" th:if="${#strings.equals(omdbMovieRatingsError, 'API_KEY_ERROR')}">Server can't connect with OMDb right now, try again later!</h4>
        <h4 class="error-text" th:if="${#strings.equals(omdbMovieRatingsError, 'API_ERROR')}">There are some problems with OMDb right now, try again later!</h4>
        <h4 class="error-text" th:if="${#strings.equals(omdbMovieRatingsError,'MOVIE_NOT_FOUND')}">Couldn't find any movie for given IMDB ID on OMDb</h4>
        <h4 class="error-text" th:if="${#strings.equals(omdbMovieRatingsError,'INTERNAL_SERVER_ERROR')}">There was an internal error while trying to connect with OMDb, try again later!</h4>
    </div>

    <div class="normal-div" th:if="${tmdbMovieRatingsError != null}">
        <h4 class="error-text" th:if="${#strings.equals(tmdbMovieRatingsError,'API_KEY_ERROR')}">Server can't connect with TMDB right now, try again later!</h4>
        <h4 class="error-text" th:if="${#strings.equals(tmdbMovieRatingsError,'API_ERROR')}">There are some problems with TMDB right now, try again later!</h4>
        <h4 class="error-text" th:if="${#strings.equals(tmdbMovieRatingsError,'MOVIE_NOT_FOUND')}">No such movie found on TMDB</h4>
        <h4 class="error-text" th:if="${#strings.equals(tmdbMovieRatingsError,'INTERNAL_SERVER_ERROR')}">There was an internal error while trying to connect with TMDB, try again later!</h4>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>